.mypy_cache
docs/_build
setup.cfg
askitsu.egg-info/dependency_links.txt
askitsu.egg-info/PKG-INFO
askitsu.egg-info/requires.txt
askitsu.egg-info/SOURCES.txt
askitsu.egg-info/top_level.txt
dist/*
*.pyc
test.py
.vscode/settings.json
docs/.vscode
.vscode/launch.json
